* {
	margin: 0px;
	padding: 0px;
}
input {
	position: absolute;
	width: 20%;
	height: 5%;
}
textarea {
	position: absolute;
	width: 30%;
	height: 15%;
}
#cont {
	margin-left: 0px;
	padding-left: 0px;
}
#input11 {
	left: 42%;
	top: 43%;
	height: 5%;
	width: 25%;
}
#input12 {
	left: 12%;
	top: 1%;
	height: 5%;
	width: 25%;
}
#input13 {
	left: 41%;
	top: 49%;
	width: 38%;
}
#input21 {
	z-index: -1;
	left: 20%;
	top: 34%;
	width: 6%;
	height: 12%;
}
#input22 {
	z-index: -1;
	left: 41%;
	top: 49%;
	width: 38%;
}
#input23 {
	z-index: -1;
	left: 41%;
	top: 49%;
	width: 38%;
}
#input24 {
	z-index: -1;
	left: 41%;
	top: 49%;
	width: 38%;
}
#input25 {
	z-index: -1;
	left: 41%;
	top: 49%;
	width: 38%;
}
#input26 {
	z-index: -1;
	left: 41%;
	top: 49%;
	width: 38%;
}
#input27 {
	z-index: -1;
	left: 41%;
	top: 49%;
	width: 38%;
}
#input28 {
	z-index: -1;
	left: 41%;
	top: 49%;
	width: 38%;
}
.pagesle {
	margin: 0;
	padding: 0;
	position: absolute;
	background-position: top center;
	background-attachment: fixed;
	height: 100vh;
}
.Inpage2 {
	z-index: -1;
}
.Inpage3 {
	z-index: -1;
}
.Inpage4 {
	z-index: -1;
}
.Inpage5 {
	z-index: -1;
}
.page1 {
	width: 100%;
 	background: url(/assets_dylan/Dp/Screen1.png) no-repeat center center fixed;
 	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
}
.page2 {
	width: 0%;
	left: 99%;
	background: url(/assets_dylan/Dp/Screen2.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
 	background-color: yellow;
}
.page3 {
	width: 0%;
	left: 99%;
	background: url(/assets_dylan/Dp/Screen3.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
 	background-color: red;
}
.page4 {
	width: 0%;
	left: 99%;
	background: url(/assets_dylan/Dp/Screen4.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
 	background-color: green;
}
.page5 {
	width: 0%;
	left: 99%;
	background: url(/assets_dylan/Dp/Screen5.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
 	background-color: black;
}
#left {
	position: fixed;
	left: 10%;
	height: 10%;
	width: 10%;
	top: 75%;
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-radius: 10%;
}
#right {
	position: fixed;
	text-align: right;
	height: 10%;
	width: 10%;
	top: 75%;
	left: 80%;
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-radius: 10%;
}