* {
	margin: 0px;
	padding: 0px;
}
input {
	width: 20%;
}
#cont {
	margin-left: 0px;
	padding-left: 0px;
}
.pagesle {
	margin: 0;
	padding: 0;
	position: absolute;
	background-position: top center;
	background-attachment: fixed;
	height: 100vh;
}
.Inpage2 {
	opacity: 0;
}
.Inpage3 {
	opacity: 0;
}
.Inpage4 {
	opacity: 0;
}
.Inpage5 {
	opacity: 0;
}
.page1 {
	width: 100%;
 	background: url(/assets_dylan/Dp/Screen1.png) no-repeat center center fixed;
 	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
}
.page2 {
	width: 0%;
	left: 99%;
	background: url(/assets_dylan/Dp/Screen2.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
 	background-color: yellow;
}
.page3 {
	width: 0%;
	left: 99%;
	background: url(/assets_dylan/Dp/Screen3.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
 	background-color: red;
}
.page4 {
	width: 0%;
	left: 99%;
	background: url(/assets_dylan/Dp/Screen4.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
 	background-color: green;
}
.page5 {
	width: 0%;
	left: 99%;
	background: url(/assets_dylan/Dp/Screen5.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
 	background-color: black;
}
#left {
	position: fixed;
	left: 10%;
	height: 10%;
	width: 10%;
	top: 75%;
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-radius: 10%;
}
#right {
	position: fixed;
	text-align: right;
	height: 10%;
	width: 10%;
	top: 75%;
	left: 80%;
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-radius: 10%;
}