* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: grey;
}
.inputs {
	position: absolute;
	width: 20%;
	height: 5%;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-width: 4%;
	border-style: solid;
	background-color: white;
	border-color: black;
}
input:hover {
	border-width: 5px;
	border-color: skyblue;
}
input:focus {
	border-width: 5px;
	border-color: #4385E7;
	outline: 0;
}
textarea:hover {
	border-width: 5px;
	border-color: skyblue;
}
textarea:focus {
	border-width: 5px;
	border-color: #4385E7;
	outline: 0;
}
button:focus {
	border-width: 5px;
	border-color: #4385E7;
	outline: 0;
}
button:hover {
	border-width: 5px;
	border-color: skyblue;
}
.buttons {
	position: absolute;
	width: 20%;
	height: 5%;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	border-width: 4%;
	border-style: solid;
	border-color: black;
	background-image: url(/images/submit.png);
	background-size: 100% 100%;
}
.textarea {
	position: absolute;
	width: 30%;
	height: 15%;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-width: 4px;
	border-style: solid;
	background-color: white;
	border-color: black;
}
#cont {
	margin-left: 0px;
	padding-left: 0px;
}
#input11 {
	left: 42%;
	top: 43%;
	height: 5%;
	width: 25%;
}
#input12 {
	left: 12%;
	top: 1%;
	height: 5%;
	width: 25%;
}
#input13 {
	left: 41%;
	top: 49%;
	width: 38%;
}
#input14 {
	z-index: -1;
	width: 0%;
	height: 0%;
	opacity: 0;
}
#input21 {
	left: 25%;
	top: 13%;
	height: 9%;
	width: 50%;
}
#input22 {
	left: 45%;
	top: 23%;
	height: 5%;
	width: 10%;
}
#input23 {
	left: 38.5%;
	top: 28%;
	height: 5%;
	width: 23%;
}
#input24 {
	left: 30%;
	top: 34%;
	height: 8%;
	width: 40%;
}
#input25 {
	left: 45%;
	top: 45%;
	height: 5%;
	width: 10%;
}
#input26 {
	left: 38.5%;
	top: 50%;
	height: 5%;
	width: 23%;
}
#input27 {
	left: 30%;
	top: 56%;
	height: 8%;
	width: 40%;
}
#input28 {
	left: 45%;
	top: 69%;
	height: 5%;
	width: 10%;
}
#input29 {
	left: 38.5%;
	top: 74%;
	height: 5%;
	width: 23%;
}
#input210 {
	left: 29%;
	top: 81%;
	height: 14%;
	width: 42%;
}
#input31 {
	left: 20%;
	top: 34%;
	width: 6%;
	height: 12%;
	font-size: 300%;
}
#input32 {
	left: 19%;
	top: 58%;
	width: 10%;
	font-size: 100%;
}
#input33 {
	left: 37%;
	top: 34%;
	width: 6%;
	height: 12%;
	font-size: 300%;
}
#input34 {
	left: 36%;
	top: 58%;
	width: 10%;
	font-size: 100%;
}
#input35 {
	left: 54%;
	top: 34%;
	width: 6%;
	height: 12%;
	font-size: 300%;
}
#input36 {
	left: 52%;
	top: 58%;
	width: 10%;
	font-size: 100%;
}
#input37 {
	left: 71%;
	top: 34%;
	width: 6%;
	height: 12%;
	font-size: 300%;
}
#input38 {
	left: 68%;
	top: 58%;
	width: 13%;
	font-size: 100%;
}
#input41 {
	left: 16%;
	top: 57%;
	width: 22%;
	height: 12%;
}
#input42 {
	left: 22%;
	top: 30%;
	width: 10%;
	height: 8%;
}
#input43 {
	left: 39%;
	top: 57%;
	width: 22%;
	height: 12%;
}
#input44 {
	left: 45%;
	top: 30%;
	width: 10%;
	height: 8%;
}
#input45 {
	left: 62%;
	top: 57%;
	width: 22%;
	height: 12%;
}
#input46 {
	left: 68%;
	top: 30%;
	width: 10%;
	height: 8%;
}
#input51 {
	left: 26%;
	top: 17%;
	width: 18%;
	height: 9%;
}
#input52 {
	left: 1%;
	top: 17%;
	width: 15%;
	height: 9%;
}
#input53 {
	left: 14%;
	top: 8%;
	width: 15%;
	height: 9%;
}
#input54 {
	left: 15%;
	top: 26%;
	width: 31%;
	height: 33%;
	
}
#submitTemplate1 {
	left: 65%;
	top: 65%;
	height: 15%;
	background-image: url(/images/submitform.png);
	background-size: 100% 100%;
}
.pagesle {
	margin: 0;
	padding: 0;
	position: absolute;
	background-position: top center;
	background-attachment: fixed;
	height: 100vh;
	color: black;
}
.Inpage2 {
	z-index: -1;
	text-align: center;
}
.Inpage3 {
	z-index: -1;
	text-align: center;
}
.Inpage4 {
	z-index: -1;
	text-align: center;
}
.Inpage5 {
	z-index: -1;
	text-align: left;
}
.page1 {
	width: 100%;
	background: url(/assets_dylan/Dp/Dark/Page1.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}
.page2 {
	width: 0%;
	left: 99%;
	background: url(/assets_dylan/Dp/Dark/Page2.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: yellow;
}
.page3 {
	width: 0%;
	left: 99%;
	background: url(/assets_dylan/Dp/Dark/Page3.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: red;
}
.page4 {
	width: 0%;
	left: 99%;
	background: url(/assets_dylan/Dp/Dark/Page4.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: green;
}
.page5 {
	width: 0%;
	left: 99%;
	background: url(/assets_dylan/Dp/Green/Page5.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: black;
}
#left {
	position: fixed;
	left: 10%;
	height: 10%;
	width: 10%;
	top: 75%;
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-radius: 10%;
}
#right {
	position: fixed;
	text-align: right;
	height: 10%;
	width: 10%;
	top: 75%;
	left: 80%;
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-radius: 10%;
}
#modalFile {
	font-size: 19px;
	color: black;
}

#closeButton {
	float: right;
}

#submitImage {
	color: black;
}
#color {
	position: fixed;
	background-image: url(/images/color.jpg);
	background-size: 100% 100%;
	height: 10%;
	width: 10%;
	left: 5%;
	top: 10%;
	z-index: 2;
}
#david {
	position: fixed;
	width: 30%;
	height: 30%;
	top: 30%;
	left: 35%;
	background-color: grey;
	opacity: 0;
	z-index: -1;
	background-image: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-width: 10px;
	border-style: solid;
	border-color: darkgrey;
	background-color: grey;
	border-radius: 15%;
}
#dark {
	position: absolute;
	background-color: lightgrey;
	color: black;
	width: 30%;
	height: 30%;
	top: 5%;
	left: 5%;
}
#green {
	position: absolute;
	background-color: lightgreen;
	color: darkgreen;
	width: 30%;
	height: 30%;
	left: 65%;
	top: 5%;
}
#blue {
	position: absolute;
	background-color: lightblue;
	color: darkblue;
	width: 30%;
	height: 30%;
	left: 65%;
	top: 65%;
}
#purple {
	position: absolute;
	background-color: purple;
	color: blue;
	width: 30%;
	height: 30%;
	left: 5%;
	top: 65%;
}










