* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: grey;
}
.inputs {
	position: absolute;
	width: 20%;
	height: 5%;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-width: 4%;
	border-style: solid;
	background-color: white;
	border-color: black;
}
#submitTemplate2 {
	background-image: url(/images/submitform.png);
	background-size: 100% 100%;
	top: 60%;
	left: 60%;
	height: 15%;
}
input:hover {
	border-width: 5px;
	border-color: skyblue;
}
input:focus {
	border-width: 5px;
	border-color: #4385E7;
	outline: 0;
}
textarea:hover {
	border-width: 5px;
	border-color: skyblue;
}
textarea:focus {
	border-width: 5px;
	border-color: #4385E7;
	outline: 0;
}
button:focus {
	border-width: 5px;
	border-color: #4385E7;
	outline: 0;
}
button:hover {
	border-width: 5px;
	border-color: skyblue;
}
.buttons {
	position: absolute;
	width: 20%;
	height: 5%;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	border-width: 4%;
	border-style: solid;
	background-color: white;
	border-color: black;
	background-image: url(/images/submit.png);
	background-size: 100% 100%;
}
.textarea {
	position: absolute;
	width: 30%;
	height: 15%;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-width: 4px;
	border-style: solid;
	background-color: white;
	border-color: black;
}
#cont {
	margin-left: 0px;
	padding-left: 0px;
}
.pagesle {
	margin: 0;
	padding: 0;
	position: absolute;
	background-position: top center;
	background-attachment: fixed;
	height: 100vh;
	color: black;
}
.Inpage2 {
	z-index: -1;
	text-align: center;
}
.Inpage3 {
	z-index: -1;
	text-align: center;
}
.Inpage4 {
	z-index: -1;
	text-align: center;
}
.Inpage5 {
	z-index: -1;
	text-align: left;
}
.Inpage6 {
	z-index: -1;
	text-align: left;
}
.Inpage7 {
	z-index: -1;
	text-align: left;
}
.page1 {
	width: 100%;
	background: url(/assets_david/Dps/Dark/Page1.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}
.page2 {
	width: 0%;
	left: 99%;
	background: url(/assets_david/Dps/Dark/Page2.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: yellow;
}
.page3 {
	width: 0%;
	left: 99%;
	background: url(/assets_david/Dps/Dark/Page3.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: red;
}
.page4 {
	width: 0%;
	left: 99%;
	background: url(/assets_david/Dps/Dark/Page4.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: green;
}
.page5 {
	width: 0%;
	left: 99%;
	background: url(/assets_david/Dps/Dark/Page5.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: black;
}
.page6 {
	width: 0%;
	left: 99%;
	background: url(/assets_david/Dps/Dark/Page6.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: black;
}
.page7 {
	width: 0%;
	left: 99%;
	background: url(/assets_david/Dps/Dark/Page7.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: black;
}
#left {
	position: fixed;
	left: 10%;
	height: 10%;
	width: 10%;
	top: 75%;
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-radius: 10%;
	z-index: 2;
	opacity: 5;
}
#right {
	position: fixed;
	text-align: right;
	height: 10%;
	width: 10%;
	top: 75%;
	left: 80%;
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-radius: 10%;
	z-index: 2;
	opacity: 5;
}
#input11 {
	left: 40%;
	top: 57%;
}
#input12 {
	left: 40%;
	top: 62%;
}
#input13 {
	left: 40%;
	top: 67%;
}
#input14 {
	width: 0;
	height: 0;
	opacity: 0;
	z-index: -2;
}
#input21 {
	left: 19%;
	top: 37%;
	width: 10%;
}
#input22 {
	left: 37%;
	top: 28%;
}
#input23 {
	left: 38%;
	top: 34%;
	width: 55%;
	height: 25%;
	text-align: left;
}
#input24 {
	left: 38%;
	top: 63%;
	width: 55%;
	height: 25%;
	text-align: left;
}
#input31 {
	text-align: left;
	left: 16%;
	top: 35%;
}
#input32 {
	text-align: left;
	left: 16%;
	top: 42%;
	width: 37%;
}
#input33 {
	text-align: left;
	left: 55%;
	top: 35%;
}
#input34 {
	text-align: left;
	left: 55%;
	top: 42%;
	width: 37%;
}
#input35 {
	text-align: left;
	left: 16%;
	top: 52%;
}
#input36 {
	text-align: left;
	left: 16%;
	top: 59%;
	width: 37%;
}
#input37 {
	text-align: left;
	left: 55%;
	top: 52%;
}
#input38 {
	text-align: left;
	left: 55%;
	top: 59%;
	width: 37%;
}
#input39 {
	text-align: left;
	left: 16%;
	top: 69%;
}
#input310 {
	text-align: left;
	left: 16%;
	top: 76%;
	width: 37%;
}
#input311 {
	text-align: left;
	left: 55%;
	top: 69%;
}
#input312 {
	text-align: left;
	left: 55%;
	top: 76%;
	width: 37%;
}
#input41 {
	text-align: left;
	left: 15%;
	top: 14%;
	width: 26%;
}
#input42 {
	text-align: left;
	left: 17%;
	top: 33%;
	width: 5%;
}
#input43 {
	text-align: left;
	left: 22%;
	top: 33%;
	width: 5%;
}
#input44 {
	text-align: left;
	left: 34%;
	top: 34%;
}
#input45 {
	text-align: left;
	left: 34%;
	top: 39%;
	width: 30%;
}
#input46 {
	text-align: left;
	left: 17%;
	top: 45%;
	width: 5%;
}
#input47 {
	text-align: left;
	left: 22%;
	top: 45%;
	width: 5%;
}
#input48 {
	text-align: left;
	left: 34%;
	top: 45%;
}
#input49 {
	text-align: left;
	left: 34%;
	top: 50%;
	width: 30%;
}
#input410 {
	text-align: left;
	left: 17%;
	top: 54%;
	width: 5%;
}
#input411 {
	text-align: left;
	left: 22%;
	top: 54%;
	width: 5%;
}
#input412 {
	text-align: left;
	left: 34%;
	top: 55%;
}
#input413 {
	text-align: left;
	left: 34%;
	top: 60%;
	width: 30%;
}
#input414 {
	text-align: left;
	left: 17%;
	top: 76%;
	width: 5%;
}
#input415 {
	text-align: left;
	left: 22%;
	top: 76%;
	width: 5%;
}
#input416 {
	text-align: left;
	left: 34%;
	top: 76%;
}
#input417 {
	text-align: left;
	left: 34%;
	top: 81%;
	width: 30%;
}
#input418 {
	text-align: left;
	left: 17%;
	top: 86%;
	width: 5%;
}
#input419 {
	text-align: left;
	left: 22%;
	top: 86%;
	width: 5%;
}
#input420 {
	text-align: left;
	left: 34%;
	top: 86%;
}
#input421 {
	text-align: left;
	left: 34%;
	top: 91%;
	width: 30%;
}
#input51 {
	text-align: left;
	left: 15%;
	top: 24%;
}
#input52 {
	text-align: left;
	left: 15%;
	top: 30%;
}
#input53 {
	text-align: left;
	left: 35%;
	top: 33%;
	width: 2%;
}
#input54 {
	text-align: left;
	left: 15%;
	top: 41%;
}
#input55 {
	text-align: left;
	left: 35%;
	top: 44%;
	width: 2%;
}
#input56 {
	text-align: left;
	left: 15%;
	top: 49%;
}
#input57 {
	text-align: left;
	left: 35%;
	top: 53%;
	width: 2%;
}
/*#input58 {
	text-align: left;
	left: 34%;
	top: 56%;
}
#input59 {
	text-align: left;
	left: 34%;
	top: 86%;
}*/
#input510 {
	text-align: left;
	left: 14%;
	top: 60%;
}
#input511 {
	text-align: left;
	left: 14%;
	top: 83%;
	width: 8%;
}
#input512 {
	text-align: left;
	left: 14%;
	top: 87%;
	width: 8%;
}
#input513 {
	text-align: left;
	left: 17%;
	top: 72%;
	width: 3%;
	font-size: 150%;
}
#input514 {
	text-align: left;
	left: 25%;
	top: 83%;
	width: 8%;
}
#input515 {
	text-align: left;
	left: 25%;
	top: 87%;
	width: 8%;
}
#input516 {
	text-align: left;
	left: 27%;
	top: 72%;
	width: 3%;
	font-size: 150%;
}
#input517 {
	text-align: left;
	left: 35%;
	top: 83%;
	width: 8%;
}
#input518 {
	text-align: left;
	left: 35%;
	top: 87%;
	width: 8%;
}
#input519 {
	text-align: left;
	left: 37%;
	top: 72%;
	width: 3%;
	font-size: 150%;
}
#input520 {
	text-align: left;
	left: 45%;
	top: 83%;
	width: 8%;
}
#input521 {
	text-align: left;
	left: 45%;
	top: 87%;
	width: 8%;
}
#input522 {
	text-align: left;
	left: 47%;
	top: 72%;
	width: 3%;
	font-size: 150%;
}
#input523 {
	text-align: left;
	left: 64%;
	top: 31%;
}
#input524 {
	text-align: left;
	left: 64%;
	top: 37%;
}
#input525 {
	text-align: left;
	left: 64%;
	top: 43%;
}
#input526 {
	text-align: left;
	left: 64%;
	top: 49%;
}
#input527 {
	text-align: left;
	left: 64%;
	top: 55%;
}
#input528 {
	text-align: left;
	left: 64%;
	top: 68%;
}
#input529 {
	text-align: left;
	left: 64%;
	top: 74%;
}
#input530 {
	text-align: left;
	left: 64%;
	top: 80%;
}
#input61 {
	text-align: center;
	left: 5%;
	top: 41%;
	width: 10%;
}
#input62 {
	text-align: center;
	left: 0%;
	top: 46%;
}
#input63 {
	text-align: center;
	left: 0%;
	top: 51%;
}
#input64 {
	text-align: center;
	left: 0%;
	top: 56%;
}
#input65 {
	text-align: center;
	left: 25%;
	top: 41%;
	width: 10%;
}
#input66 {
	text-align: center;
	left: 20%;
	top: 46%;
}
#input67 {
	text-align: center;
	left: 20%;
	top: 51%;
}
#input68 {
	text-align: center;
	left: 20%;
	top: 56%;
}
#input69 {
	text-align: center;
	left: 45%;
	top: 41%;
	width: 10%;
}
#input610 {
	text-align: center;
	left: 40%;
	top: 46%;
}
#input611 {
	text-align: center;
	left: 40%;
	top: 51%;
}
#input612 {
	text-align: center;
	left: 40%;
	top: 56%;
}
#input613 {
	text-align: center;
	left: 65%;
	top: 41%;
	width: 10%;
}
#input614 {
	text-align: center;
	left: 60%;
	top: 46%;
}
#input615 {
	text-align: center;
	left: 60%;
	top: 51%;
}
#input616 {
	text-align: center;
	left: 60%;
	top: 56%;
}
#input617 {
	text-align: center;
	left: 45%;
	top: 28%;
	width: 5%;
}
#input618 {
	text-align: center;
	left: 50%;
	top: 28%;
	width: 5%;
}
#input619 {
	text-align: center;
	left: 55%;
	top: 28%;
	width: 5%;
}
#input71 {
	text-align: center;
	left: 13%;
	top: 17%;
}
#input72 {
	text-align: center;
	left: 20%;
	top: 8%;
	width: 8%;
	height: 8%;
	font-size: 180%;
}
#input73 {
	text-align: center;
	left: 31%;
	top: 17%;
}
#input74 {
	text-align: center;
	left: 38%;
	top: 8%;
	width: 8%;
	height: 8%;
	font-size: 180%;
}
#input75 {
	text-align: center;
	left: 48%;
	top: 17%;
}
#input76 {
	text-align: center;
	left: 55%;
	top: 8%;
	width: 8%;
	height: 8%;
	font-size: 180%;
}
#input77 {
	text-align: center;
	left: 65%;
	top: 17%;
}
#input78 {
	text-align: center;
	left: 72%;
	top: 8%;
	width: 8%;
	height: 8%;
	font-size: 180%;
}
#input79 {
	text-align: center;
	left: 15%;
	top: 52%;
	width: 25%;
}
#input710 {
	text-align: center;
	left: 15%;
	top: 62%;
	width: 25%;
}
#input711 {
	text-align: center;
	left: 15%;
	top: 68%;
	width: 25%;
	height: 8%;
}
#input712 {
	text-align: center;
	left: 15%;
	top: 77%;
	width: 25%;
}
#input713 {
	text-align: center;
	left: 15%;
	top: 77%;
	width: 25%;
}
#input714 {
	text-align: center;
	left: 15%;
	top: 83%;
	width: 25%;
}
#input715 {
	text-align: center;
	left: 15%;
	top: 89%;
	width: 25%;
}
#color {
	position: fixed;
	background-image: url(/images/color.jpg);
	background-size: 100% 100%;
	height: 10%;
	width: 10%;
	left: 5%;
	top: 10%;
	z-index: 2;
}
#david {
	position: fixed;
	width: 30%;
	height: 30%;
	top: 30%;
	left: 35%;
	background-color: grey;
	opacity: 0;
	z-index: -1;
	background-image: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-width: 10px;
	border-style: solid;
	border-color: darkgrey;
	background-color: grey;
	border-radius: 15%;
}
#dark {
	position: absolute;
	background-color: lightgrey;
	color: black;
	width: 30%;
	height: 30%;
	top: 5%;
	left: 5%;
}
#blue {
	position: absolute;
	background-color: lightblue;
	color: darkblue;
	width: 30%;
	height: 30%;
	left: 65%;
	top: 65%;
}
#red {
	position: absolute;
	background-color: red;
	color: maroon;
	width: 30%;
	height: 30%;
	left: 5%;
	top: 65%;
}