* {
	margin: 0px;
	padding: 0px;
}
input {
	position: absolute;
	width: 20%;
	height: 5%;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-width: 2%;
	border-style: double;
	background-color: grey;
	border-color: white;
}
input:hover {
	background-color: lightgrey;
}
input:active {
	background-color: white;
}
input:focus {
	background-color: white;
	border-color: black;
}
textarea:hover {
	background-color: lightgrey;
}
textarea:active {
	background-color: white;
}
textarea:focus {
	background-color: white;
	border-color: black;
}
button {
	position: absolute;
	width: 20%;
	height: 5%;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	border-width: 2%;
	border-style: double;
	background-color: grey;
	border-color: white;
}
textarea {
	position: absolute;
	width: 30%;
	height: 15%;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-width: 4px;
	border-style: double;
	background-color: grey;
	border-color: white;
}
#cont {
	margin-left: 0px;
	padding-left: 0px;
}
.pagesle {
	margin: 0;
	padding: 0;
	position: absolute;
	background-position: top center;
	background-attachment: fixed;
	height: 100vh;
	color: black;
}
.Inpage2 {
	z-index: -1;
	text-align: center;
}
.Inpage3 {
	z-index: -1;
	text-align: center;
}
.Inpage4 {
	z-index: -1;
	text-align: center;
}
.Inpage5 {
	z-index: -1;
	text-align: left;
}
.page1 {
	width: 100%;
	background: url(/assets_john/JC/Page1.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}
.page2 {
	width: 0%;
	left: 99%;
	background: url(/assets_john/JC/Page2.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: yellow;
}
.page3 {
	width: 0%;
	left: 99%;
	background: url(/assets_john/JC/Page3.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: red;
}
.page4 {
	width: 0%;
	left: 99%;
	background: url(/assets_john/JC/Page4.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: green;
}
.page5 {
	width: 0%;
	left: 99%;
	background: url(/assets_john/JC/Page5.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: black;
}
.page6 {
	width: 0%;
	left: 99%;
	background: url(/assets_john/JC/Page6.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: black;
}
.page7 {
	width: 0%;
	left: 99%;
	background: url(/assets_john/JC/Page7.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: black;
}
#left {
	position: fixed;
	left: 10%;
	height: 10%;
	width: 10%;
	top: 75%;
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-radius: 10%;
}
#right {
	position: fixed;
	text-align: right;
	height: 10%;
	width: 10%;
	top: 75%;
	left: 80%;
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-radius: 10%;
}









