* {
	margin: 0px;
	padding: 0px;
}
input {
	position: absolute;
	width: 20%;
	height: 5%;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-width: 4%;
	border-style: solid;
	background-color: white;
	border-color: black;
}
button {
	position: absolute;
	width: 20%;
	height: 5%;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	border-width: 4%;
	border-style: solid;
	background-color: white;
	border-color: black;
	background-image: url(/images/submit.png);
	background-size: 100% 100%;
}
textarea {
	position: absolute;
	width: 30%;
	height: 15%;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-width: 4px;
	border-style: solid;
	background-color: white;
	border-color: black;
}
input:hover {
	border-width: 5px;
	border-color: skyblue;
}
input:focus {
	border-width: 5px;
	border-color: #4385E7;
	outline: 0;
}
textarea:hover {
	border-width: 5px;
	border-color: skyblue;
}
textarea:focus {
	border-width: 5px;
	border-color: #4385E7;
	outline: 0;
}
button:focus {
	border-width: 5px;
	border-color: #4385E7;
	outline: 0;
}
button:hover {
	border-width: 5px;
	border-color: skyblue;
}
button {
	position: absolute;
	width: 20%;
	height: 5%;
	width: 23%;
}
#input11 {
	left: 28%;
	top: 15%;
	height: 30%;
	width: 20%;
}
#input12 {
	left: 33%;
	top: 50%;
	width: 35%;
	height: 8%;
	font-size: 150%;
}
#input21 {
	left: 22%;
	top: 18%;
	height: 15%;
	width: 10%;
}
#input22 {
	left: 34%;
	top: 18%;
	width: 45%;
}
#input23 {
	left: 68%;
	top: 38%;
	height: 15%;
	width: 10%;
}
#input24 {
	left: 21%;
	top: 38%;
	width: 45%;
}
#input25 {
	left: 22%;
	top: 59%;
	height: 15%;
	width: 10%;
}
#input26 {
	left: 34%;
	top: 59%;
	width: 45%;
}
#input31 {
	left: 5%;
	top: 17%;
	width: 5%;
}
#input32 {
	left: 10%;
	top: 17%;
	width: 5%;
}
#input33 {
	left: 15%;
	top: 17%;
	width: 15%;
}
#input34 {
	left: 5%;
	top: 24%;
	height: 10%;
	width: 43%; 
}
#input35 {
	left: 52%;
	top: 17%;
	width: 5%;
}
#input36 {
	left: 57%;
	top: 17%;
	width: 5%;
}
#input37 {
	left: 62%;
	top: 17%;
	width: 15%;
}
#input38 {
	left: 52%;
	top: 24%;
	height: 10%;
	width: 43%; 
}
#input39 {
	left: 52%;
	top: 37%;
	width: 5%;
}
#input310 {
	left: 57%;
	top: 37%;
	width: 5%;
}
#input311 {
	left: 62%;
	top: 37%;
	width: 15%;
}
#input312 {
	left: 52%;
	top: 44%;
	height: 10%;
	width: 43%; 
}
#input313 {
	left: 5%;
	top: 37%;
	width: 5%;
}
#input314 {
	left: 10%;
	top: 37%;
	width: 5%;
}
#input315 {
	left: 15%;
	top: 37%;
	width: 15%;
}
#input316 {
	left: 5%;
	top: 44%;
	height: 10%;
	width: 43%; 
}
#input41 {
	left: 5%;
	top: 17%;
}
#input42 {
	left: 5%;
	top: 24%;
	width: 43%;
	height: 10%;
}
#input43 {
	left: 5%;
	top: 34%;
	width: 5%;
}
#input44 {
	left: 11%;
	top: 34%;
	width: 5%;
}
#input781 {
	left: 17%;
	top: 34%;
	width: 5%;
}
#input45 {
	left: 5%;
	top: 42%;
}
#input46 {
	left: 5%;
	top: 49%;
	width: 43%;
	height: 10%;
}
#input47 {
	left: 5%;
	top: 59%;
	width: 5%;
}
#input48 {
	left: 11%;
	top: 59%;
	width: 5%;
}
#input782 {
	left: 17%;
	top: 59%;
	width: 5%;
}
#input49 {
	left: 51%;
	top: 17%;
}
#input410 {
	left: 51%;
	top: 24%;
	width: 43%;
	height: 10%;
}
#input411 {
	left: 51%;
	top: 34%;
	width: 5%;
}
#input412 {
	left: 57%;
	top: 34%;
	width: 5%;
}
#input783 {
	left: 63%;
	top: 34%;
	width: 5%;
}
#input413 {
	left: 51%;
	top: 42%;
}
#input414 {
	left: 51%;
	top: 49%;
	width: 43%;
	height: 10%;
}
#input415 {
	left: 51%;
	top: 59%;
	width: 5%;
}
#input416 {
	left: 57%;
	top: 59%;
	width: 5%;
}
#input784 {
	left: 63%;
	top: 59%;
	width: 5%;
}
#input51 {
	left: 20%;
	top: 14%;
}
#input52 {
	left: 73%;
	top: 14%;
	width: 5%;
}
#input51 {
	left: 20%;
	top: 14%;
}
#input52 {
	left: 73%;
	top: 14%;
	width: 5%;
}
#input53 {
	left: 20%;
	top: 19%;
}
#input54 {
	left: 73%;
	top: 19%;
	width: 5%;
}
#input55 {
	left: 20%;
	top: 25%;
}
#input56 {
	left: 73%;
	top: 25%;
	width: 5%;
}
#input57 {
	left: 20%;
	top: 30%;
}
#input58 {
	left: 73%;
	top: 30%;
	width: 5%;
}
#input59 {
	left: 20%;
	top: 35%;
}
#input510 {
	left: 73%;
	top: 35%;
	width: 5%;
}
#input511 {
	left: 20%;
	top: 42%;
}
#input512 {
	left: 20%;
	top: 49%;
	height: 20%;
}
#input513 {
	left: 50%;
	top: 42%;
}
#input514 {
	left: 50%;
	top: 49%;
	height: 20%;
}
#input61 {
	left: 14%;
	top: 17%;
	width: 10%;
	height: 15%;
}
#input62 {
	left: 13%;
	top: 32%;
	width: 12%;
}
#input63 {
	left: 8%;
	top: 38%;
	width: 23%;
} 
#input64 {
	left: 45%;
	top: 17%;
	width: 10%;
	height: 15%;
}
#input65 {
	left: 44%;
	top: 32%;
	width: 12%;
}
#input66 {
	left: 39%;
	top: 38%;
	width: 23%;
} 
/* YOLO */
#input67 {
	left: 76%;
	top: 17%;
	width: 10%;
	height: 15%;
}
#input68 {
	left: 75%;
	top: 32%;
	width: 12%;
}
#input69 {
	left: 69%;
	top: 38%;
	width: 23%;
} 
#input610 {
	left: 14%;
	top: 50%;
	width: 10%;
	height: 15%;
}
#input611 {
	left: 13%;
	top: 65%;
	width: 12%;
}
#input612 {
	left: 8%;
	top: 71%;
	width: 23%;
} 
#input613 {
	left: 45%;
	top: 50%;
	width: 10%;
	height: 15%;
}
#input614 {
	left: 44%;
	top: 65%;
	width: 12%;
}
#input615 {
	left: 39%;
	top: 71%;
	width: 23%;
}
/* STUFF */
#input616 {
	left: 76%;
	top: 50%;
	width: 10%;
	height: 15%;
}
#input617 {
	left: 75%;
	top: 65%;
	width: 12%;
}
#input618 {
	left: 69%;
	top: 71%;
	width: 23%;
}

/* Placing */

.textarea {
	position: absolute;
	width: 30%;
	height: 15%;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-width: 4px;
	border-style: solid;
	background-color: white;
	border-color: black;
}
#cont {
	margin-left: 0px;
	padding-left: 0px;
}
#submitTemplate1 {
	left: 65%;
	top: 70%;
}
.pagesle {
	margin: 0;
	padding: 0;
	position: absolute;
	background-position: top center;
	background-attachment: fixed;
	height: 100vh;
	color: black;
}
.Inpage2 {
	z-index: -1;
	text-align: center;
}
.Inpage3 {
	z-index: -1;
	text-align: center;
}
.Inpage4 {
	z-index: -1;
	text-align: center;
}
.Inpage5 {
	z-index: -1;
	text-align: left;
}
.page1 {
	width: 100%;
	background: url(/assets_john/JC/Blue/Page1.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}
.page2 {
	width: 0%;
	left: 99%;
	background: url(/assets_john/JC/Blue/Page2.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: yellow;
}
.page3 {
	width: 0%;
	left: 99%;
	background: url(/assets_john/JC/Blue/Page3.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: red;
}
.page4 {
	width: 0%;
	left: 99%;
	background: url(/assets_john/JC/Blue/Page4.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: green;
}
.page5 {
	width: 0%;
	left: 99%;
	background: url(/assets_john/JC/Blue/Page5.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: black;
}
.page6 {
	width: 0%;
	left: 99%;
	background: url(/assets_john/JC/Blue/Page6.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: black;
}
.page7 {
	width: 0%;
	left: 99%;
	background: url(/assets_john/JC/Blue/Page7.png) no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-color: black;
}
#left {
	position: fixed;
	left: 10%;
	height: 10%;
	width: 10%;
	top: 75%;
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-radius: 10%;
}
#right {
	position: fixed;
	text-align: right;
	height: 10%;
	width: 10%;
	top: 75%;
	left: 80%;
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-radius: 10%;
}
#david {
	position: fixed;
	width: 50%;
	height: 30%;
	top: 30%;
	left: 25%;
	background-color: grey;
	opacity: 0;
	z-index: -1;
	background-image: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-width: 10px;
	border-style: solid;
	border-color: darkgrey;
	background-color: grey;
	border-radius: 15%;
}
#color {
	position: fixed;
	background-image: url(/images/color.jpg);
	background-size: 100% 100%;
	height: 10%;
	width: 10%;
	left: 5%;
	top: 10%;
	z-index: 2;
}
#dark {
	position: absolute;
	background-color: lightgrey;
	color: black;
	width: 15%;
	height: 30%;
	top: 5%;
	left: 5%;
	background-image: none;
}
#blue {
	position: absolute;
	background-color: lightblue;
	color: darkblue;
	width: 15%;
	height: 30%;
	left: 80%;
	top: 65%;
	background-image: none;
}
#red {
	position: absolute;
	background-color: red;
	color: maroon;
	width: 15%;
	height: 30%;
	left: 5%;
	top: 65%;
	background-image: none;
}
#glade {
	position: absolute;
	background-color: lightgreen;
	color: lightyellow;
	width: 15%;
	height: 30%;
	left: 30%;
	top: 65%;
	background-image: none;
}
#kimberly {
	position: absolute;
	background-color: darkblue;
	color: blue;
	width: 15%;
	height: 30%;
	left: 55%;
	top: 65%;
	background-image: none;
}
#orange {
	position: absolute;
	background-color: orange;
	color: yellow;
	width: 15%;
	height: 30%;
	left: 55%;
	top: 5%;
	background-image: none;
}
#purple {
	position: absolute;
	background-color: purple;
	color: darkblue;
	width: 15%;
	height: 30%;
	left: 30%;
	top: 5%;
	background-image: none;
}
#green {
	position: absolute;
	background-color: green;
	color: lightgreen;
	width: 15%;
	height: 30%;
	left: 80%;
	top: 5%;
	background-image: none;
}